<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Start sidebar -->
<div th:fragment="sidebar" id="sideBar" class="relative flex flex-col flex-wrap bg-white border-r border-gray-300 p-6 flex-none w-64 md:-ml-64 md:fixed md:top-0 md:z-30 md:h-screen md:shadow-xl animated faster">

    <!-- sidebar content -->
    <div class="flex flex-col">

        <!-- sidebar toggle -->
        <div class="text-right hidden md:block mb-4">
            <button id="sideBarHideBtn">
                <i class="fad fa-times-circle"></i>
            </button>
        </div>
        <!-- end sidebar toggle -->

        <p class="uppercase text-xs text-gray-600 mb-4 tracking-wider">톻계</p>

        <!-- link -->
        <a th:href="@{/main}" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
            <i class="fa-solid fa-chart-pie"></i>
            MyVelog Dashboard
        </a>
        <!-- end link -->

        <!-- link -->
        <a th:href="@{/post}" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
            <i class="fa-solid fa-ranking-star"></i>
            Post Rank
        </a>
        <!-- end link -->

        <!-- link -->
        <a th:href="@{/day}" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
            <i class="fa-regular fa-calendar"></i>
            Visits By Day
        </a>
        <!-- end link -->

        <p class="uppercase text-xs text-gray-600 mb-4 tracking-wider">구독</p>

        <!-- link -->
        <a th:href="@{/feed}" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
            <i class="fa-regular fa-comment-dots"></i>
            Feed
        </a>
        <!-- end link -->

        <!-- link -->
        <a th:href="@{/subscribe}" class="mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500">
            <i class="fa-solid fa-users"></i>
            Subscribe
        </a>
        <!-- end link -->
    </div>
    <!-- End sidebar content -->

</div>
<!-- End sidebar -->
</html>