<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--Header fragment-->
<th:block th:replace="~{layout/header :: header}"></th:block>

<body class="bg-gray-100">

    <!--Navbar fragment-->
    <th:block th:replace="~{layout/navbar :: navbar}"></th:block>

    <!-- Start wrapper -->
    <div class="h-screen flex flex-row flex-wrap">

        <!--Sidebar fragment-->
        <th:block th:replace="~{layout/sidebar :: sidebar}"></th:block>

        <!-- Start content -->
        <div class="bg-gray-100 flex-1 p-6 md:mt-16">

            <!-- Start stats -->
            <div class="card col-span-3 xl:col-span-1">
                <div class="card-header" style="display: flex; justify-content: space-between;">

                    <!-- Start stats header-->
                    <div class="flex" style="width: 200px; justify-content: space-evenly; align-items: center;">
                        <form>
                            <input type="hidden" th:value="${day.dateBefore}" name="date">
                            <button type="submit">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </button>
                        </form>

                        <h1 class="h6" th:text="${day.date}"></h1>

                        <i th:if="${day.isToday}" class="fa fa-chevron-right" aria-hidden="true" style="color: lightgray;"></i>
                        <form th:unless="${day.isToday}">
                            <input type="hidden" th:value="${day.dateAfter}" name="date">
                            <button type="submit">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                    <!-- End stats header-->

                    <!-- Start date picker -->
                    <div class="flex flex-row justify-center items-center">

                        <form class="flex" style="width: 145px; justify-content: space-between;">
                            <input id="input_date" type="date" th:max="${day.today}" required name="date">
                            <button type="submit">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                    <!-- End date picker -->
                </div>

                <!-- Start total visits -->
                <div class="card bg-teal-400 border-teal-400 shadow-md text-white" style="margin: 10px;">
                    <div class="card-body flex flex-row" style="padding: 10px; align-items: center;">

                        <!-- image -->
                        <div class="img-wrapper w-40 h-40 flex justify-center items-center">
                            <img src="/images/total.png" alt="img title" style="width: 80%">
                        </div>
                        <!-- End image -->

                        <!-- info -->
                        <div class="py-2 ml-10">
                            <h1 class="h6" style="margin-bottom: 3px;">총 조회수</h1>
                            <p class="text-white text-xs">이 날의 게시글들의 총 조회수는</p>
                            <h1 class="h4" style="margin-top: 15px;" th:text="|${day.totalVisits}개|"></h1>
                        </div>
                        <!-- End info -->

                    </div>
                </div>
                <!-- End total visits -->

                <!-- Start visits -->
                <table class="table-auto w-full text-left">
                    <thead>
                    <tr>
                        <th class="px-4 py-2 border-r border-t" ></th>
                        <th class="px-4 py-2 border-r border-t">게시글</th>
                        <th class="px-4 py-2 border-t">조회수</th>
                    </tr>
                    </thead>
                    <tbody class="text-gray-600">

                    <tr th:if="${#lists.isEmpty(day.postStats)}">
                        <td class="border border-l-0 px-4 py-2 text-center"></td>
                        <td class="border border-l-0 px-4 py-2">조회수가 없어요!</td>
                        <td class="border border-l-0 border-r-0 px-4 py-2"></td>
                    </tr>

                    <tr th:each="postStat : ${day.postStats}">
                        <td class="border border-l-0 px-4 py-2 text-center" id="index" th:text="${postStatStat.count}"></td>
                        <td class="border border-l-0 px-4 py-2"><a target="_blank" th:href="@{'https://velog.io/@' + ${user.username} + '/' + ${postStat.urlSlug}}" th:text="${postStat.title}"></a></td>
                        <td class="border border-l-0 border-r-0 px-4 py-2">[[${postStat.visits}]]</td>
                    </tr>

                    </tbody>
                </table>
                <!-- End visits -->
            </div>
            <!-- End stats -->

        </div>
        <!-- End content -->

    </div>
    <!-- End wrapper -->

    <!--Footer fragment-->
    <th:block th:replace="~{layout/footer :: footer}"></th:block>

</body>
</html>