<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--Header fragment-->
<th:block th:replace="~{layout/header :: header}"></th:block>

<body class="bg-gray-100">

    <!--Navbar fragment-->
    <th:block th:replace="~{layout/navbar :: navbar}"></th:block>

    <!-- Start wrapper -->
    <div class="h-screen flex flex-row flex-wrap">

        <!--Sidebar fragment-->
        <th:block th:replace="~{layout/sidebar :: sidebar}"></th:block>

        <!-- Start content -->
        <div class="bg-gray-100 flex-1 p-6 md:mt-16">
            <div style="text-align: center; display: flex; flex-direction: column; align-items: center;">
                <img class="object-cover" src="/images/index.png" alt="index image" style="width: 20%;">
                <h1 class="h2" style="font-size: 1.7rem; margin-top: 30px;">아직 로그인 하지 않았어요!</h1>
                    <p th:if="${timeout == true}" style="color: #f56565; font-size: 1rem; font-weight: bold; margin-top: 10px;">로그인 시간 초과 다시 로그인해주세요</p>
                    <p th:if="${logout == true}" style="color: #f56565; font-size: 1rem; font-weight: bold; margin-top: 10px;">로그인 정보가 없습니다 다시 로그인해주세요</p>
                <a href="/login" class="btn-shadow mt-6" style="width: 400px; height: 50px; font-size: larger; font-weight: bold;">로그인</a>
            </div>
        </div>
        <!-- End content -->

    </div>
    <!-- End wrapper -->

    <!--Footer fragment-->
    <th:block th:replace="~{layout/footer :: footer}"></th:block>

</body>
</html>