<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--Header fragment-->
<th:block th:replace="~{layout/header :: header}"></th:block>

<body class="bg-gray-100">

    <!--Navbar fragment-->
    <th:block th:replace="~{layout/navbar :: navbar}"></th:block>

    <!-- Start wrapper -->
    <div class="h-screen flex flex-row flex-wrap">

        <!--Sidebar fragment-->
        <th:block th:replace="~{layout/sidebar :: sidebar}"></th:block>

        <!-- Start content -->
        <div class="bg-gray-100 flex-1 p-6 md:mt-16">
            <div style="text-align: center; display: flex; flex-direction: column; align-items: center;">
                <img class="object-cover" src="/images/index.png" alt="index image" style="width: 20%;">
                <h1 class="h2" style="font-size: 1.7rem; margin-top: 30px;">아직 로그인 하지 않았어요!</h1>
                    <p th:if="${timeout == true}" style="color: #f56565; font-size: 1rem; font-weight: bold; margin-top: 10px;">로그인 시간 초과 다시 로그인해주세요</p>
                    <p th:if="${logout == true}" style="color: #f56565; font-size: 1rem; font-weight: bold; margin-top: 10px;">로그인 정보가 없습니다 다시 로그인해주세요</p>
                <button class="btn-shadow mt-6" id="popupBtn" style="width: 400px; height: 50px; font-size: larger; font-weight: bold;">로그인</button>
            </div>
        </div>
        <!-- End content -->

    </div>
    <!-- End wrapper -->

    <div class="modal-bg" id="modal-bg"></div>
    <div class="modal-wrap" id="modal-wrap">
        <div class="card" style="width:700px;">
            <div class="card-header flex justify-between" style="align-i">
                <h1 class="h6">로그인</h1>
                <button id="closeBtn"><i class="fa-regular fa-circle-xmark"></i></button>
            </div>
            <div id="modal-sns" class="flex flex-col justify-evenly items-center" style="height: 10rem;">
                <p class="text-sm">로그인 방식을 선택하세요</p>
                <div class="flex justify-between" style="width: 300px;">
                    <button id="mailBtn"><img class="object-cover" src="/images/mail.png" alt="index image" style="width: 50px;"></button>
                    <button id="githubBtn"><img class="object-cover" src="/images/github.png" alt="index image" style="width: 50px;"></button>
                    <button id="googleBtn"><img class="object-cover" src="/images/google.png" alt="index image" style="width: 50px;"></button>
                    <button id="facebookBtn"><img class="object-cover" src="/images/facebook.png" alt="index image" style="width: 50px;"></button>
                </div>
            </div>
            <div id="modal-login">
                <form method="post" th:action="@{/login}" class="flex flex-col justify-evenly items-center" style="height: 15rem;">
                    <input type="hidden" required name="sns" id="sns">
                    <input type="text" required name="id" placeholder="아이디를 입력하세요" class="alert text-base text-gray-800 font-extrabold">
                    <input type="text" required name="password" placeholder="비밀번호를 입력하세요" class="alert text-base text-gray-800 font-extrabold">
                    <button id="loginBtn" class="btn-shadow mr-6 text-sm py-2 block m-4" type="submit" style="width: 100px;">로그인</button>
                </form>
            </div>
        </div>
    </div>


    <!--Footer fragment-->
    <th:block th:replace="~{layout/footer :: footer}"></th:block>

</body>
</html>