<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--Header fragment-->
<th:block th:replace="~{layout/header :: header}"></th:block>

<body class="bg-gray-100">

    <!--Navbar fragment-->
    <th:block th:replace="~{layout/navbar :: navbar}"></th:block>

    <!-- strat wrapper -->
    <div class="h-screen flex flex-row flex-wrap">

        <!--Sidebar fragment-->
        <th:block th:replace="~{layout/sidebar :: sidebar}"></th:block>

        <!-- start content -->
        <div class="bg-gray-100 flex-1 p-6 md:mt-16">

            <!-- start quick Info -->
            <div class="grid grid-cols-3 gap-6 mt-6 xl:grid-cols-1">

                <!-- Start Recent Visits -->
                <div class="card col-span-3 xl:col-span-1">
                    <div class="card-header">
                        <h1 class="h6">조회수 순위</h1>
                    </div>

                    <table class="table-auto w-full text-left">
                        <thead>
                        <tr>
                            <th class="px-4 py-2 border-r"></th>
                            <th class="px-4 py-2 border-r">게시글</th>
                            <th class="px-4 py-2 border-r">좋아요</th>
                            <th class="px-4 py-2">조회수</th>
                        </tr>
                        </thead>
                        <tbody class="text-gray-600">

                        {{ #stats }}
                        <tr>
                            <td class="border border-l-0 px-4 py-2 text-center"><i id="index">1</i></td>
                            <td class="border border-l-0 px-4 py-2">{{title}}</td>
                            <td class="border border-l-0 px-4 py-2">{{likes}}<span class="num-2"></span></td>
                            <td class="border border-l-0 border-r-0 px-4 py-2"><span class="num-2"></span>{{visits}}</td>
                        </tr>
                        {{ /stats }}

                        </tbody>
                    </table>
                </div>
                <!-- End Recent Visits -->

            </div>
            <!-- End quick Info -->

        </div>
        <!-- end content -->

    </div>
    <!-- end wrapper -->

    <!--Footer fragment-->
    <th:block th:replace="~{layout/footer :: footer}"></th:block>

</body>
</html>