<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--Header fragment-->
<th:block th:replace="~{layout/header :: header}"></th:block>

<body class="bg-gray-100">

    <!--Navbar fragment-->
    <th:block th:replace="~{layout/navbar :: navbar}"></th:block>

    <!-- Start wrapper -->
    <div class="h-screen flex flex-row flex-wrap">

        <!--Sidebar fragment-->
        <th:block th:replace="~{layout/sidebar :: sidebar}"></th:block>

        <!-- Start content -->
        <div class="bg-gray-100 flex-1 p-6 md:mt-16">

            <!-- Start stats -->
            <div class="grid grid-cols-3 gap-6 mt-6 xl:grid-cols-1">

                <!-- Start visits -->
                <div class="card col-span-3 xl:col-span-1">
                    <div class="card-header">
                        <h1 class="h6">조회수 순위</h1>
                    </div>

                    <table class="table-auto w-full text-left">
                        <thead>
                        <tr>
                            <th class="px-4 py-2 border-r"></th>
                            <th class="px-4 py-2 border-r">게시글</th>
                            <th class="px-4 py-2 border-r">좋아요</th>
                            <th class="px-4 py-2">조회수</th>
                        </tr>
                        </thead>
                        <tbody class="text-gray-600">

                        <tr th:each="postStat : ${post.postStats}">
                            <td class="border border-l-0 px-4 py-2 text-center" th:text="${postStatStat.count}"></td>
                            <td class="border border-l-0 px-4 py-2"><a th:href="@{'https://velog.io/@' + ${user.username} + '/' + ${postStat.urlSlug}}" th:text="${postStat.title}"></a></td>
                            <td class="border border-l-0 px-4 py-2" th:text="${postStat.likes}"></td>
                            <td class="border border-l-0 border-r-0 px-4 py-2" th:text="${postStat.visits}"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!-- End visits -->

            </div>
            <!-- End stats -->

        </div>
        <!-- End content -->

    </div>
    <!-- End wrapper -->

    <!--Footer fragment-->
    <th:block th:replace="~{layout/footer :: footer}"></th:block>

</body>
</html>