<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--Header fragment-->
<th:block th:replace="~{layout/header :: header}"></th:block>

<body class="bg-gray-100">

    <!--Navbar fragment-->
    <th:block th:replace="~{layout/navbar :: navbar}"></th:block>

    <!-- Start wrapper -->
    <div class="h-screen flex flex-row flex-wrap">

        <!--Sidebar fragment-->
        <th:block th:replace="~{layout/sidebar :: sidebar}"></th:block>

        <!-- Start content -->
        <div class="bg-gray-100 flex-1 p-6 md:mt-16">
            <div class="card">

                <div class="card-header flex justify-between">
                    <h1 class="h6">구독</h1>
                    <button class="btn-shadow mr-4 text-sm py-2 block" id="popupBtn">추가</button>
                </div>

                <div class="card-body">

                    <!-- start a table -->
                    <table class="table-fixed w-full">

                        <!-- table head -->
                        <thead class="text-left">
                        <tr>
                            <th class="w-1/3 pb-10 text-sm font-extrabold tracking-wide">이름</th>
                            <th class="w-1/3 pb-10 text-sm font-extrabold tracking-wide">제목</th>
                            <th class="w-1/3 pb-10 text-sm font-extrabold tracking-wide">벨로그</th>
                            <th class="w-1/6 pb-10 text-sm font-extrabold tracking-wide"></th>
                        </tr>
                        </thead>
                        <!-- end table head -->

                        <!-- table body -->
                        <tbody class="text-left text-gray-600">

                        <!-- item -->
                        <tr>
                            <!-- name -->
                            <th class="w-1/3 mb-4 text-xs font-extrabold tracking-wider flex flex-row items-center w-full">
                                <div class="w-8 h-8 overflow-hidden rounded-full">
                                    <img src="img/user2.jpg" class="object-cover">
                                </div>
                                <p class="ml-3 name-1">user name</p>
                            </th>
                            <!-- name -->

                            <!-- product -->
                            <th class="w-1/3 mb-4 text-xs font-extrabold tracking-wider">Nike Sport</th>
                            <!-- product -->

                            <!-- invoice -->
                            <th class="w-1/3 mb-4 text-xs font-extrabold tracking-wider">벨로그</th>
                            <!-- invoice -->

                            <!-- status -->
                            <th class="w-1/6 mb-4 text-xs font-extrabold tracking-wider"><a href="#" class="btn mr-4 text-sm py-2 block">구독취소</a></th>
                            <!-- status -->

                        </tr>
                        <!-- item -->

                        </tbody>
                        <!-- end table body -->

                    </table>
                    <!-- end a table -->
                </div>

            </div>
        </div>
        </div>
        <!-- end content -->

    </div>
    <!-- end wrapper -->

    <div class="modal-bg" id="modal-bg"></div>
    <div class="modal-wrap" id="modal-wrap">
        <div class="card" style="width:700px;">
            <div class="card-header flex justify-between" style="align-i">
                <h1 class="h6">사용자 검색</h1>
                <button id="closeBtn"><i class="fa-solid fa-xmark fa-lg"></i></button>
            </div>

            <div class="flex justify-between" >
                <div class="alert m-5" style="width: -webkit-fill-available;">
                    a simple alert it out!
                </div>
                <button class="btn-shadow mr-4 text-sm py-2 block m-5" id="popupBtn" style="width: 80px;">추가</button>
            </div>
        </div>
    </div>

    <!--Footer fragment-->
    <th:block th:replace="~{layout/footer :: footer}"></th:block>

</body>
</html>